table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-card-header {
  background: #ffa707;
  border-radius: 25px;
}

// .mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
//   text-align: justify;
// }
.mat-table thead, .mat-table tbody, .mat-table tfoot, mat-header-row, mat-row, mat-footer-row, [mat-header-row], [mat-row], [mat-footer-row], .mat-table-sticky {
  text-align: justify;
}
