<mat-drawer-container class="app-sidenav-container" [dir]="dir" autosize>
  <mat-drawer #drawer class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="primary">{{'HOME.APPName' | translate}}</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/carCardQuery'"> Query Officer </a>
      <a mat-list-item [routerLink]="'/carCardCreate'"> Create Officer </a>
      <a mat-list-item [routerLink]="'/definitionScreens'"> Definition Screens </a>

      <mat-list-item [matMenuTriggerFor]="menu">
        <span class="material-icons">
          edit
          </span>

        <a matline>Example</a>
      </mat-list-item>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>View profile</button>
        <button mat-menu-item>Add contact</button>
      </mat-menu>

      <!-- <mat-form-field appearance="fill">
        <mat-label><i class="fa fa-language"></i></mat-label>
        <mat-select #langselect (change) ="translate.use(langselect.value)">
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</mat-option>
        </mat-select>
         <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field> -->
      <!-- <select  #langselect (change) ="translate.use(langselect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">
          {{lang}}
        </option>
      </select> -->
      <div class="form-group">
        <label for="exampleFormControlSelect1">
          <h3> <span class="material-icons iconsLang">
              g_translate
            </span></h3>
        </label>
        <select class="form-control" id="exampleFormControlSelect1" #langselect
          (change)="translate.use(langselect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
        </select>
      </div>
      <!--
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" #langselect  (click)="translate.use(langselect.value)">
          <span class="material-icons">
            language
            </span>Language</mat-button-toggle>
      </mat-button-toggle-group> -->



      <a mat-list-item [routerLink]="'/testApp'"> Test App </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Admins </a>
      <a mat-list-item (click)="logout()"> Log Out </a>
      <!-- <a mat-list-item [routerLink]="'/auth'"> Log Out  </a> -->
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
    </mat-nav-list>
  </mat-drawer>

  <div class="app-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>

        <button mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <button mat-button class="sidenav-toggle">
          <mat-icon>menu</mat-icon>
        </button> -->
        <span>Car Management </span>

        <div>
          <a mat-button [routerLink]="'/carCardQuery'"> Query Car Card </a>
          <a mat-button [routerLink]="'/carCardCreate'"> Create Car Card </a>
          <a mat-button [routerLink]="'/auth'"> Contacts </a>
          <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
          <a mat-button [routerLink]="'/activities'"> Activities </a>
          <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
        </div>

      </mat-toolbar-row>
      <mat-toolbar-row>

        <div>
          <a mat-button [routerLink]="'/carCardQuery'"> Query Officer </a>
          <a mat-button [routerLink]="'/carCardCreate'"> Create Officer </a>
          <a mat-button [routerLink]="'/auth'"> Contacts </a>
          <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
          <a mat-button [routerLink]="'/activities'"> Activities </a>
          <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
        </div>
        <!-- <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span> -->
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-drawer-container>
